.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #333d51;
  width: 100%;
  height: 100vh;
}
.flex-container h2 {
  color: #f4f3ea;
}

.bookForm {
  background-color: #d3ac2b;
  padding: 40px;
  color: #f4f3ea;
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 20px;
  border-radius: 7px;
  font-size: 20px;
}

.bookForm input {
  border-radius: 7px;
  padding: 10px;
  width: 90%;
  background-color: #f4f3ea;
}
.bookForm button {
  margin: 10px 0px;
  width: 100%;
  font-size: 16px;
  color: #f4f3ea;
  background-color: #333d51;
  border-radius: 7px;
  border: none;
  padding: 10px;
}
.bookForm button:hover {
  cursor: pointer;
}
.bookSearch {
  display: flex;
  flex-direction: column;
  background-color: #cbd0d8;
  padding: 40px;
  color: #333d51;
  width: 20%;
  gap: 20px;
  border-radius: 7px;
  font-size: 19px;
  margin: 10px;
}
.bookSearch input {
  border-radius: 7px;
  padding: 5px;
  width: 100%;
  background-color: #f4f3ea;
}
.bookSearch button {
  background-color: #333d51;
  width: 100%;
  padding: 10px 10px;
  color: #f4f3ea;
  border-radius: 7px;
  border: none;
  font-size: 16px;
}
.bookSearch button:hover {
  background-color: #232936;

  cursor: pointer;
}
.updateForm {
  display: flex;
  width: 60%;
  background-color: #e74c3c;
  padding: 20px 10px;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  color: #f4f3ea;
  gap: 5px;
  font-size: 15px;
  font-weight: 600;
}
.updateForm button {
  padding: 10px;
  background-color: #333d51;
  color: #f4f3ea;
  border: none;
  border-radius: 7px;
}
.book-list {
  background-color: #f4f3ea;
  width: 50%;
  margin: 20px;
  border-radius: 7px;
  color: #333d51;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.book-list ul {
  width: 100%;
}
.book-list li {
  list-style-type: none;
}
.book-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 80%;
}
.book-link li {
  width: 50%;
}
.book-link div {
  width: 20%;
  display: flex;
  gap: 20px;
}
.book-link button {
  width: 20%;
  padding: 10px;
  background-color: #e74c3c;
  color: #f4f3ea;
  border: none;
  font-size: 16px;
  border-radius: 7px;
}

.book-link button:first-of-type {
  background-color: #333d51;
}

@media (max-width: 750px) {
  .bookForm {
    width: 50%;
    gap: 10px;
    padding: 25px;
  }
  .bookForm input {
    border-radius: 7px;
    padding: 10px;
    width: 90%;
    background-color: #f4f3ea;
  }
  .bookForm button {
    width: 100%;
  }
  .bookForm button:hover {
    cursor: pointer;
  }
  .book-list {
    background-color: #f4f3ea;
    width: 60%;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .book-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
  }

  .book-link div {
    width: 50%;
    display: flex;
    gap: 20px;
  }
  .book-link li {
    width: 100%;
    text-align: center;
  }
  .book-link button {
    width: 100%;
    padding: 10px;
  }

  .bookSearch {
    width: 50%;
    gap: 20px;
    padding: 25px;
  }
  .bookSearch label {
    font-size: 16px;
  }
}
